:root{
    --text-color-primary: #291B1A;
    --text-color-secondary: #573A37;
    --text-color-on-bg: #F0E8C2;
    --background-color: #573824;
    --background-assets: url(./imagens/main-bolo.png);
    --surface-color:  #F0E8C2;
   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "alice", serif;
}

body {

    font-size: 1.6rem;
    background-image: var(--background-assets);
    background-color: var(--background-color);
    background-repeat:no-repeat;
    background-size: cover;
    backdrop-filter: blur(12px);
    padding-block: 4.3rem;
}